################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Final Project 2.0/FileContentIndex/fa256791-dc82-4c3e-8636-a44a400a2ee8.vsidx
/.vs/Final Project 2.0/FileContentIndex/a6680083-84c2-490b-b8d1-1069582f16e4.vsidx
